  {{> header }}
  <div class="pure-g">
    <div class="pure-u-1">

      <div class="text-center">
        <h1 class="main-title">{{ title }}</h1>
      </div>
    </div>

    <div class="pure-g posts-list">
      {{#each collections.posts}}
      <div class="pure-u-1">
        <div>{{ formatDate this.date }}</div>
        <h3>
          <a class="post-title" href="/{{this.path}}">{{ this.title }}</a>
        </h3>
        <!-- {{ this.preview }} -->
        {{url}}
      </div>
      {{/each}}
    </div>

  </div>
  {{> footer }}
