{{> header }}
<div class="row post-body">
  <div class="twelve columns">
    <div class="text-center">
      <h1 class="main-title">{{ title }}</h1>
    </div>

    <div class="row posts-list">
      {{#each collections.posts}}
      <div class="post-item">
        <div>{{ formatDate this.date }}</div>
        <h3>
          <a class="post-title" href="/{{this.path}}">{{ this.title }}</a>
        </h3>
        <!-- {{ this.preview }} -->
        {{url}}
      </div>
      {{/each}}
    </div>

  </div>
</div>
{{> footer }}
