{{> header }}

<div class="pure-g">
  <div class="pure-u-1">
    <div class="post">
        {{#if page.image}}

        <div class="featuredImage">
          <img src="/assets/img/{{page.image}}" alt="" />
        </div>

        {{/if}}

        <h1 class="page-title">{{ title }}</h1>
        <p class="meta">{{formatDate date }}</p>

        <div class="">
          {{{ contents }}}
        </div>
      </div>
      <!-- POST NAVIGATION -->
      <div class="flex-row flex-fluid justify-center">
        <div class="flex-col flex-fluid no-wrap">
          {{#if previous}}
          <a class="post-link prev self-start" href="/{{ previous.path }}"><span>&laquo;&nbsp;{{ previous.title }}</span></a>
          {{/if}}
        </div>

        <div class="flex-col flex-fluid no-wrap">
          {{#if next}}
          <a class="post-link next self-end" href="/{{ next.path }}"><span>{{ next.title }}&nbsp;&raquo;</span></a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>


{{> footer }}
